POSTGRES_DB=swcp
POSTGRES_USER=swcp
POSTGRES_PASSWORD=replace-with-a-local-password

JWT_KEY=replace-with-a-long-random-signing-key
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=replace-with-a-local-password

POSTGRES_PORT=5432
API_PORT=5170
PGADMIN_PORT=5050
FRONTEND_PORT=5174

AzureAIFoundry__Models__Gpt4o__Endpoint=
AzureAIFoundry__Models__Gpt4o__ApiKey=
AzureAIFoundry__Models__Gpt6Sol__Endpoint=
AzureAIFoundry__Models__Gpt6Sol__ApiKey=

# Only relevant if running a local LLM instance
LLM_MODEL_PATH=Qwen2.5-Coder-1.5B-Instruct-AWQ
LLM_MODEL_NAME=qwen2.5-coder-1.5b-instruct-awq
LOCAL_LLM_PORT=8080
VLLM_QUANTIZATION=awq_marlin       # maybe not valid for older hardware
VLLM_KV_CACHE_DTYPE=auto           # fp8
VLLM_MAX_MODEL_LEN=8192            # to be tuned
VLLM_GPU_MEMORY_UTILIZATION=0.80   # to be tuned
VLLM_MAX_NUM_SEQS=4                # to be tuned
