AzureAIFoundry__Models__Gpt4o__Endpoint=<endpoint>
AzureAIFoundry__Models__Gpt4o__ApiKey=<apikey>
AzureAIFoundry__Models__Gpt6Sol__Endpoint=<endpoint>
AzureAIFoundry__Models__Gpt6Sol__ApiKey=<apikey>
